################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce/Backend/ECommerce.API/appsettings.json
/ECommerce/Backend/ECommerce.API/appsettings.json
